{% extends 'inicio/base.html' %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contáctanos - Formulario de Contacto</title>
    <link rel="stylesheet" href="{% static 'css/stylecontact.css' %}">
</head>

<div class="hero">
    <h1>Contactanos</h1>
    <p style="font-size: 20px;">Si tienes alguna pregunta o necesitas asesoramiento, no dudes en contactarnos.</p>
</div>

<div class="contact-form">
    <h2>ENVÍANOS UN MENSAJE:</h2>
    <form method="POST" action="{% url 'contacto' %}">
        {% csrf_token %}
        <div class="form-grid">
            <input type="text" name="nombre" placeholder="Tu Nombre" required>
            <input type="email" name="correo" placeholder="Correo Electrónico" required>
            <input type="text" name="numero_pedido" placeholder="Número de Pedido" required>
        </div>
        <textarea name="mensaje" placeholder="Tu Mensaje" required></textarea>
        <div class="form-actions">
            <button class="submit-btn" type="submit">ENVIAR MENSAJE</button>
        </div>
    </form>
</div>
{% endblock %}
