{% extends 'inicio/base.html' %} 

{% block content %}

<!-- {% load static %} -->

<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center" style="height: 60vh; background-color: #BFAE9F;">
    <!-- <img src="{% static 'inicio/img/fondo1.jpg' %}" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="Imagen"> -->
    <h1 class="mb-3">Centro de Eventos Sociales</h1>
    <p class="mx-auto w-75">Destaque sus momentos especiales y conviértalos en recuerdos inolvidables con eventos únicos y sorprendentes. 
        En el centro de eventos "TinocoLoco", transformamos sus celebraciones en experiencias extraordinarias, combinando elegancia, 
        personalización y dedicación en cada detalle.</p>
</div>

{% endblock %}