/* General navbar link styles */
.nav-link {
    color: white; /* Asegura que las letras sean blancas */
    position: relative;
    transition: color 0.3s ease; /* Transición suave para el color */
}

/* Subrayado animado para enlaces */
.nav-link::after {
    content: ''; /* Genera el subrayado */
    position: absolute;
    left: 0;
    bottom: -3px; /* Ajusta la posición debajo del texto */
    width: 0;
    height: 2px; /* Grosor de la barra */
    background-color: white; /* Color de la barra */
    transition: width 0.3s ease; /* Efecto de animación */
}

/* Hover effect */
.nav-link:hover::after {
    width: 100%; /* Se extiende al 100% del ancho del enlace */
}

.nav-link:hover {
    color: #f0f0f0; /* Cambia ligeramente el color del texto al pasar el mouse */
}


html, body {
    background-color: #EAEBEB;
    height: 2000px; /* Simulación de página larga */
    display: flex;
    flex-direction: column;
}
.navbar {
    background-color: transparent !important; /* Siempre transparente */
    border: none; /* Elimina bordes */
}
.nav-link, .navbar-brand {
    color: white !important; /* Texto en blanco */
}


main {
    flex: 1; /* Esto asegura que el contenido se extienda y empuje el footer hacia abajo */
}

footer {
    margin-top: auto; /* Asegura que el footer esté al final */
}

.card-title {
    font-weight: bold;
    text-transform: uppercase;
}

.card-text {
    font-size: 14px;
    line-height: 1.6;
}
