{% extends 'inicio/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-5">
    <h1>Agregar Servicio</h1>
    <form method="post" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}</label>
            {% render_field form.title class="form-control" %}
        </div>
        <div class="mb-3">
            <label for="{{ form.description.id_for_label }}" class="form-label">{{ form.description.label }}</label>
            {% render_field form.description class="form-control" rows="4" placeholder="Describe el servicio" %}
        </div>
        <div class="mb-3">
            <label for="{{ form.image.id_for_label }}" class="form-label">{{ form.image.label }}</label>
            {% render_field form.image class="form-control" %}
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
{% endblock %}
